<app-index-navbar></app-index-navbar>
<div>

  <div class="relative md:ml-64 bg-blueGray-100 ">
    <div class="header relative  items-center flex   ">

    </div>
    <app-sidebar></app-sidebar>
    <div class="ncontainer"></div>

    <div class="container mx-auto items-center flex flex-wrap  px-4 md:px-10 mx-auto w-full -m-24">

      <h1 class="text-3xl"> Noticias</h1>
      <div *ngFor="let noticia of noticias; let i=index">
        <hr class="my-4 md:min-w-full" />
        <div id="n{{i}}">

          <h3 class="text-xl mb-1 font-semibold">{{noticia.title}}</h3>
          <img class="my-4" src="assets/img/Noticias/{{noticia.img}}" alt="">

          <p class="mb-4 text-blueGray-500 format">{{noticia.content}}</p>
        </div>

      </div>
      <div class="topspace"></div>

    </div>
  </div>
</div>
<app-footer></app-footer>