<app-index-navbar></app-index-navbar>
<main>
    <section class="relative w-full h-full py-40 min-h-screen">
        <div class="absolute top-0 w-full h-full bg-blueGray-100 bg-no-repeat bg-full"
            style="background-image: url('assets/img/Galeria/galeria2.jpg')"></div>
        
        <div class="container mx-auto px-4 h-full">
            <div class="flex content-center items-center justify-center h-full">
                <div class="w-full lg:w-6/12 px-4">
                    <div
                        class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-200 border-0">
                        <div class="rounded-t mb-0 px-6 py-6">
                            <div class="text-center mb-3">
                                <h6 class="text-blueGray-500 text-xl font-bold">Sobre Nosotros</h6>
                            </div>

                            <hr class="mt-6 border-b-1 border-blueGray-300" />
                            <p class="text-blueGray-500 text-l font-semibold" >N2 Galería representa y promueve el trabajo de artistas nacionales e internacionales, tanto emergentes como consolidados, desde el año 2005. Para contribuir a la internacionalización y al posicionamiento global de su obra, participamos en ferias nacionales e internacionales de reconocido prestigio y apoyamos el coleccionismo.
                                <br><br>
                                Es para nosotros una gran satisfacción ver crecer a nuestros artistas, asesorarlos y colaborar con ellos a lo largo de su trayectoria.
                                <br>
                                Además, como elemento transformador del panorama cultural, N2 Galería forma parte de la Asociación de Galerías de Barcelona (Art Barcelona) y del Consorcio de Galerías. Junto a ambas asociaciones participamos en iniciativas que fortalecen el tejido cultural e integran el arte en todos los ámbitos de la vida contemporánea. Asimismo, colaboramos con Museos, Fundaciones y Festivales de primerísimo orden a nivel mundial (la más reciente colaboración ha sido con la biblioteca del MET de Nueva York), pues entendemos que la labor de una galería va mucho más allá de sus puertas.
                                </p>
                        </div>
                        <p class=" text-center text-blueGray-800 font-bold">Siguenos en Artsy!</p>
                        <div class="px-6 flex content-center justify-center items-center">
                            
                        <a  href="https://www.artsy.net/n2-galeria">
                            <img src="../../../assets/img/Galeria/artsy.png" alt="">
                        </a></div>
                        
                    </div>
                </div>
            </div>
        </div>

        <app-footer-small [absolute]="true"></app-footer-small>
    </section>
</main>