<footer class="relative bg-blueGray-200 pt-8 pb-6">
  <div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20 h-20"
    style="transform: translateZ(0)">
    <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
      version="1.1" viewBox="0 0 2560 100" x="0" y="0">
      <polygon class="text-blueGray-200 fill-current" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap text-center lg:text-left">
      <div class="w-full lg:w-4/12 px-4 py-10">
        <img src="../../../../assets/img/Galeria/logo.png" class="w-1/2" alt="">
      </div>
      <div class="w-full lg:w-6/12 px-4">
        <div class="flex flex-wrap items-top mb-6">
          <div class="w-full lg:w-4/12 px-4 ml-auto">

            <ul class="list-unstyled text-blueGray-600  block pt-2 ">
              <li><b>Dirección:</b><br> Enrique Granados, 61, 08008 BARCELONA</li>
              <li> <b>Horario:</b><br> De lunes a viernes 11:00h-14:00h</li>
              <li> <b>Email:</b><br> info@n2galeria.com</li>
              <li> <b>Tel.:</b><br> +34 934 520 592</li>

            </ul>
          </div>

        </div>
      </div>
    </div>
    <hr class="my-6 border-blueGray-300" />
    <div class="flex flex-wrap items-center md:justify-between justify-center">
      <div class="w-full md:w-4/12 px-4 mx-auto text-center">
        <div class="text-sm text-blueGray-500 font-semibold py-1">
          Copyright © {{ date }} Manuel Fernandez de Heredia
        </div>
      </div>
    </div>
  </div>
</footer>